body{
  margin: 0;
  padding: 0;
}

nav {
  background: #222;

}

.ul {   
  list-style-type: none;
}
li {
  padding: 20px;
  display: inline;
  
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
  color: black;
}

li:hover{
  background-color: white;
  color: black;
}